body{
	background-color: #303841;
}

.container-unique{
	height: 100%;
	width: 90%;
	max-width: 460px;
	margin: 200px auto;
	border-radius: 20px;
	box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
	background-color: white;
}

.error{
	color: #ff3f80;
}
.button-auth{
	text-decoration: none;
	background-color: #D72323;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
}
a:hover{
	cursor: pointer;
}
.link-auth:hover{
	cursor: pointer;
}